* {
    font-family: 'Poppins'
}

body {
    user-select: none;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(218deg 50% 91%);
    height: 100vh;
}

.login-screen {
    @include screen;
    gap: 2em;
    align-self: center;
    width: fit-content;
    height: 100%;

    .email {
        background: hsl(0deg 0% 100%);
        box-shadow: 0 0 2em hsl(231deg 62% 94%);
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 0.5em;
        border-radius: 20px;
        color: hsl(0deg 0% 30%);

        input {
            outline: none;
            border: none;

            &::placeholder {
                color: hsl(0deg 0% 0%);
                font-size: 0.9em;
            }
        }

        ion-icon {
            color: hsl(0deg 0% 30%);
            margin-bottom: -.2em;
        }
    }

    .password {
        background: hsl(0deg 0% 100%);
        box-shadow: 0 0 2em hsl(231deg 62% 94%);
        padding: 1em;
        display: flex;
        flex-direction: column;
        gap: 0.5em;
        border-radius: 20px;
        color: hsl(0deg 0% 30%);

        input {
            outline: none;
            border: none;

            &::placeholder {
                color: hsl(0deg 0% 0%);
                font-size: 0.9em;
            }
        }

        ion-icon {
            color: hsl(0deg 0% 30%);
            margin-bottom: -.2em;
        }

        .show-hide {
            margin-right: -5em;
        }
    }


}

button {
    cursor: pointer;
}