.game-screen {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 75%;
    margin-top: 10px;
}

.end-game {
    display: flex;
    align-self: flex-start;
}

.score {
    display: flex;
    justify-content: end;
}

.row {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    gap: 15px;
}

.col {
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}

.col-2 {
    justify-content: center;
    display: flex;
    flex: 1;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;

    label {
        margin-top: 100px;
        height: 40px;
        font-size: xx-large;
    }

    input {
        height: 20px;
    }

    button {
        margin-bottom: 100px;
    }

}

.row-2 {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    gap: 30px;
}